import java.util.Scanner;

public class VacationAgency {
    public static void main(String[] args) {
       String destination = getUserDestination();
       String recommendation = recommendTransportation(destination);
       printRecommendation (destination, recommendation);
    }
    public static String getUserDestination() {
        Scanner input = new Scanner(System.in);
        System.out.print("Enter Summer vacation destination: ");
        return input.nextLine();
    }
    public static String recommendTransportation(String destination) {
        if (destination.equalsIgnoreCase("Phu Quoc Island")) {
            return "Flight Vietnam Airlines!";
        } else if (destination.equalsIgnoreCase("El Salvador")) {
            return "Flight United Airlines!";
        } else if (destination.equalsIgnoreCase("Mexico")) {
            return "Flight Delta Airlines!";
        } else {
            return "Consider looking to see if United Airlines works";
        }
    }
    public static void printRecommendation(String destination, String recommendation) {
        System.out.println(recommendation);
    }
}
